@use "../abstracts/variables" as *;

.badge {
  display: inline-block;
  font-family: $font-dm-sans;
  border-radius: $border-radius-8;
  border: 1px solid currentColor;
  padding: 6px 12px;
  margin: 4px;
  font-size: 12px;
  font-weight: $fw-500;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;

  &.badge-filled {
    background-color: scale-color($color-primary, $lightness: 80%);
    border-color: scale-color($color-primary, $lightness: 80%);
    color: $color-primary-dark;
  }

  &.badge-outline {
    background-color: transparent;
    border-color: $color-surface-outline;
    color: $color-on-primary;
  }
}
